body.dark-mode {
      background-color: #3f3d3d;
      color: #ffffff;
    }

body.dark-mode h1 {
	color: #ffffff; 
}

.navbar {
  background-color: rgba(248, 201, 165, 0.8); /* Semi-transparent light gray for the navbar */
}

.navbar .nav-link {
  color: black;
}

body.dark-mode .navbar {
  background-color: rgba(199, 161, 180, 0.8); /* Semi-transparent darker background for the navbar in dark mode */
}

body.dark-mode .navbar .nav-link {
  color: white; /* White text color for navbar links in dark mode */
}

body.dark-mode .navbar .navbar-brand {
  color: white; /* White text color for the navbar brand in dark mode */
}

.custom-button {
  background-color: #c7a1b4; /* Set the background color */
  color: white; /* Set the text color */
  border: none; /* Remove the default border */
  padding: 5px 10px; /* Adjust padding */
  border-radius: 10px;
}

.custom-button:hover {
  background-color: #f6bc9e; /* Darker shade for hover effect */
}

.about-section {
  padding: 20px;
}

.about-image img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}